#welcome {
   display: grid;
   justify-items: center;

   margin: 4rem 0rem 9rem;;
}

#welcome h1 {
   font-size: 4rem;
   font-family: UnifrakturMaguntia;
   color: var(--light-cream);
}

#welcome img {
   position: fixed;
   height: 9rem;
   z-index: -1;
   transform: translateY(-16%);
   max-width: calc(100% - 2rem);
}


#welcoming-text {
   position: relative;
   background: var(--white);
   border-radius: 1rem;
   margin-left: 20rem;
   margin-right: 5rem;
   margin-bottom: 14rem;
   padding: 1.5rem;
   color: var(--black);
}

#welcoming-text::before {
   content: "";
   background-image: url("../img/illustration/knight.png");
   transform: scaleX(-1);
   position: absolute;
   width: 20rem;
   height: 23rem;
   background-size: cover;
   left: -18rem;
   z-index: -1;
   top: 50%;
}

#welcoming-text:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 78px solid transparent;
	border-right-color: var(--white);
	border-left: 0;
	border-bottom: 0;
	margin-top: -39px;
	margin-left: -78px;
}


@media only screen and (max-width: 768px) {
   #welcoming-text {
      margin: 1.5rem;
   }

   #welcoming-text::after, #welcoming-text::before {
      display: none;
   }
}


#btn-container {
   display: flex;
   justify-content: space-around;
   margin-top: 1rem;
}


#countdown-container {
   width: 100%;
   display: grid;
   justify-items: center;
}

#countdown-container > div {
   text-align: center;
   background-color: var(--white);
   max-width: 30rem;
   min-width: fit-content;
   width: 50%;
   padding: 1rem;

   display: grid;
   grid-template-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr
}

#countdown-container h2 {
   font-size: 2rem;
   color: white;
}

.countdown-text span, h2 {
   font-family: "Pirata One";
}

.countdown-text span:first-child { font-size: 2rem; }

.countdown-text {
   display: flex;
   flex-direction: column;
}

.countdown-separator {
   margin-top: 0.2rem;
   font-size: 1.7rem;
}
